.section {
  position: relative;
  z-index: 1;
  background: #fff;
  border: 1px solid #d6d6d6;
  transition: height 0.3s ease;
}

.section:last-child {
  margin-bottom: 20px;
}

.section-content {
  position: static;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 0 16px 16px;
}

@media screen and (max-width: 1023px) {
  .section-content {
    position: static;
    height: 100%;
  }
}
