.customize-token {
  display: inline-block;
  border: 1px solid  #555;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 4px;

  .token-body {
    display: flex;

    .display-label {
      max-width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .input {
      height: 24px;
    }
  }

  .button-icon {
    cursor: pointer;
    opacity: 0.3;
    margin-right: 4px;

    &:hover {
      opacity: 1;
    }

    &.edit-icon {
      margin-left: 4px;
    }
  }

  &.error,
  &.pass {
    .message {
      margin-top: 4px;
      border-top: 1px dashed gray;
      padding-top: 4px;
      display: flex;

      .status-icon {
        margin-right: 4px;
      }
    }
  }

  &.error {
    .message {
      color: red;
    }
  }

  &.pass {
    .message {
      color: green;
    }
  }
}


