$token-background-color: #cceaf5;
$error-token-background-color: #f9b5b5;

.container {
  // https://www.paulirish.com/2012/box-sizing-border-box-ftw/
  box-sizing: border-box;
  height: 200px;
  padding: 4px;
  overflow-y: auto;
  cursor: text;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

  // remove focus border style of mac system
  // outline: none;
  outline: 0;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  &.container--focused {
    border-color: #0096cc;
  }

  &.container--errors {
    border-color: #db3d44;
  }

  .autosized-wrapper {
    float: left;
    margin-right: 4px;
    overflow: hidden;

    input {
      height: 32px;
      padding: 0;
      margin: 0;
      color: #222;
      cursor: text;
      background: none;
      border: 0;

      // remove focus border style of mac system
      // outline: none;
      outline: 0;
      box-shadow: none;
    }
  }

  .token-list .token {
    display: flex;
    flex-flow: row nowrap;
    place-content: center center;
    align-items: center;
    float: left;
    max-width: 100%;

    // TODO: Set minimum?
    // min-width: 100px;

    height: 32px;
    padding: 0;
    margin: 0 4px 4px 0;
    line-height: 1.5;
    color: #0096cc;
    white-space: nowrap;
    cursor: default;
    background-color: $token-background-color;
    border: 0;
    border-radius: 4px;

    &:hover {
      background-color: #e6f4fc;
    }

    &.token--error {
      color: #db3d44;
      background-color: $error-token-background-color;

      &:hover {
        background-color: #ffdada;
      }
    }

    &.token--read-only {
      // Hint: add customer read-only style here
      &:hover {
        background-color: $token-background-color;
      }

      &.token--error {
        &:hover {
          background-color: $error-token-background-color;
        }
      }
    }

    &.token--editable:hover {
      cursor: pointer;
    }

    &.token--active {
      .autosized-wrapper {
        display: flex;
        place-content: center center;
        align-items: center;
        height: 32px;
        margin: 4px 8px;

        input {
          height: auto;
          border-bottom: 1px solid #aaa;
        }
      }
    }

    .token__label-wrapper {
      flex: 1 0 0;
      margin: 0 8px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .token__delete-button {
      display: flex;
      flex: 0 0 0;
      place-content: center center;
      align-items: center;
      height: 100%;
      padding: 2px 8px;
      cursor: pointer;
      border-left: 1px solid #aaa;
      border-radius: 0 4px 4px 0;
      opacity: 0.3;

      .delete-button__close-icon {
        position: relative;
        width: 14px;
        height: 14px;

        &::before,
        &::after {
          position: absolute;
          left: 6px;
          height: 14px;
          content: '';
          border-left: 2px solid #222;
        }

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }

      &:hover {
        background-color: #aaa;
        opacity: 1;

        .delete-button__close-icon {
          &::before,
          &::after {
            border-color: #fff;
          }
        }
      }
    }
  }
}
