.example-customize-token-visual-trick [data-component-name='DeleteButton'] {
  // Hide the build-in delete button
  display: none !important;
}

.example-customize-token-visual-trick .material-icons {
  margin-right: 4px;
  color: #888;
  vertical-align: bottom;

  &:hover {
    color: #db3d44;
  }
}
